#jobs{
    width: 550px;
    margin-top: 50px;
    border-radius: 50%;
}
body{
    text-align: center;
    margin: 0;
}
#welcome{
    background: linear-gradient(#36d1dc,#ffc371);
}
#tpm{
   font-family: 'Fjalla One', sans-serif; 
}
#s1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}
#3{
 font-family: 'Shadows Into Light', cursive;
    font-size: 35px;   
}
    